<article class='workout panel panel-default'>

    <section class='workout_details panel-body'>
      <i class="fa fa-star"></i>
      <table class='workout_table'>
        
        <tr>
          <td><%= workout.activity %></td>
          <td><%= workout.date %></td>
        </tr>
        <tr>
          <td><%= workout.duration %></td>
          <td><%= workout.intensity %></td>
        </tr>
        <tr>
          <td><%= workout.pace %><%= workout.pace_metric %></td>
          <td><%= workout.distance %><%= workout.distance_metric %></td>
        </tr>

      </table>
    </section>

    <nav class='workout_nav panel-footer'>

      <%= link_to 'Link to Target', new_link_path(workout) %> | 
      <%= link_to 'Edit', edit_workout_path(workout) %> | 
      <%= link_to 'Delete', workout_path(workout), method: :delete %>

    </nav>

</article>
