<article class='workout panel panel-default'>

    <section class='workout_details panel-body'>
      
      <%= workout.id %>
      <%= workout.activity %>
      <%= workout.date %>
      <%= workout.duration %>
      <%= workout.intensity %>
      <%= workout.pace %><%= workout.pace_metric %>
      <%= workout.distance %><%= workout.distance_metric %>
    
    </section>

    <nav class='workout_nav panel-footer'>

      <%= link_to 'Link to Target', new_link_path(workout) %> | 
      <%= link_to 'Edit', edit_workout_path(workout) %> | 
      <%= link_to 'Delete', workout_path(workout), method: :delete %>

    </nav>

</article>
