<article class='workout'>
  <p>
    <%= workout.id %>
    <%= workout.activity %>
    <%= workout.date %>
    <%= workout.duration %>
    <%= workout.intensity %>
  </p>
  <nav>
    <%= link_to 'Edit', edit_workout_path(workout) %>
  </nav>
</article>