<article class='workout'>
  <section class='workout_details'>
    
    <%= workout.id %>
    <%= workout.activity %>
    <%= workout.date %>
    <%= workout.duration %>
    <%= workout.intensity %>
    <%= workout.pace %><%= workout.pace_metric %>
    <%= workout.distance %><%= workout.distance_metric %>
  
  </section>

  <nav>
 
    <%= link_to 'Edit', edit_workout_path(workout) %>
    <%= link_to 'Delete', workout_path(workout), method: :delete %>

  </nav>
  
</article>