<article class='workout'>
  <p>
    <%= workout.id %>
    <%= workout.activity %>
    <%= workout.date %>
    <%= workout.duration %>
    <%= workout.intensity %>
    <%= workout.pace %><%= workout.metric %>
  </p>
  <nav>
    <%= link_to 'Edit', edit_workout_path(workout) %>
    <%= link_to 'Delete', workout_path(workout), method: :delete %>
  </nav>
</article>