<article class='workout'>
  <section class='workout_details'>
    <%= workout.id %>
    <%= workout.activity %>
    <%= workout.date %>
    <%= workout.duration %>
    <%= workout.intensity %>
    <%= workout.pace %><%= workout.pace_metric %>
    <%= workout.distance %><%= workout.distance_metric %>
  </section>
  <section class='workout_targets'>
    <%= render workout.targets %>
  </section>
  <nav>

    <%= link_to 'Add Target', new_workout_target_path(workout) %> | 
    <%= link_to 'Edit', edit_workout_path(workout) %>
    <%= link_to 'Delete', workout_path(workout), method: :delete %>

  </nav>
</article>