<section class="panel panel-default">
  <div class='panel-body'>
    
    <article class='target'>
      <%= target.pace %><%= target.pace_metric %></br>
      <%= target.distance %><%= target.distance_metric %></br>
      <%= target.due_date %></br>
    </article>

    <aside class='pct_achieved'>
      
      <h4>Status</h4>

      <section class='progress'>
        
        <article class='progress-bar progress-bar-success' role='progressbar' aria-valuenow='<%= target.pct_achieved %>' aria-valuemin='0' aria-valuemax='100' style='width: <%= format_pct(target.pct_achieved) %>;'>
          <var><%= format_pct(target.pct_achieved) %></var>
        </article>
      
      </section>

    </aside>

  </div>
</section>
