<article class='target'>
  <%= target.pace %><%= target.pace_metric %></br>
  <%= target.distance %><%= target.distance_metric %></br>
  <%= target.due_date %></br>
</article>

<aside class='pct_achieved'>
  <h4>Status</h4>
  <var><%= format_pct(target.pct_achieved) %></var>
</aside>