<h3>
  <i class="fa fa-calculator"></i>
  Training Pace
</h3>

<section class="panel panel-default">
  <div class='panel-body'>
    <% if @runs.any? %>
      <table>
        <tr>
          <td>Easy</td>
          <td><%= @paces[:easy] %></td>
        </tr>
        <tr>
          <td>Tempo</td>
          <td><%= @paces[:tempo] %></td>
        </tr>
        <tr>
          <td>VO2 Max</td>
          <td><%= @paces[:max] %></td>
        </tr>
        <tr>
          <td>Speed Form</td>
          <td><%= @paces[:speed] %></td>
        </tr>
        <tr>
          <td>Long Run</td>
          <td><%= @paces[:long] %></td>
        </tr>
      </table>
    <% else %>
      <p>Please log at least one workout to benchmark your training paces</p>
    <% end %>
  </div>
</section>